

@{
    ViewData["Title"] = "AddImage";
}

<h1>Добавить фото</h1>
<br />
<form asp-controller="Students" asp-action="AddImage" method="post" enctype="multipart/form-data">
    <input type="number" name="id" value="@ViewBag.UserId" hidden />
    <input type="file" name="uploadedFile" /><br><br>
    <input type="submit" value="Сохранить" />
</form>
<br />
<div>
    <a asp-action="Index">Назад</a>
</div>

