@model KushaFlow.Models.Student

@{
    ViewData["Title"] = "Edit";
}

<h1>Редактирование</h1>

<h4>Студент</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstituteId" class="control-label"></label>
                <select asp-for="InstituteId" class="form-control" asp-items="ViewBag.InstituteId"></select>
                <span asp-validation-for="InstituteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <select asp-for="DepartmentId" class="form-control" asp-items="ViewBag.DepartmentId"></select>
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Group" class="control-label"></label>
                <input asp-for="Group" class="form-control" />
                <span asp-validation-for="Group" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CourseId" class="control-label"></label>
                <select asp-for="CourseId" class="form-control" asp-items="ViewBag.CourseId"></select>
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Achievements" class="control-label"></label>
                <input asp-for="Achievements" class="form-control" />
                <span asp-validation-for="Achievements" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InstagramAccount" class="control-label"></label>
                <input asp-for="InstagramAccount" class="form-control" />
                <span asp-validation-for="InstagramAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacebookAccount" class="control-label"></label>
                <input asp-for="FacebookAccount" class="form-control" />
                <span asp-validation-for="FacebookAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a href="/Students/AddImage/@ViewBag.UserId">Загрузить фото</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
