@model KushaFlow.Models.Student

@{
    ViewData["Title"] = "Редактировать";
}

<h1>Редактировать</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">Имя</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Фамилия</label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Институт</label>
                <input asp-for="Institute" class="form-control" />
                <span asp-validation-for="Institute" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Кафедра</label>
                <input asp-for="Department" class="form-control" />
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Группа</label>
                <input asp-for="Group" class="form-control" />
                <span asp-validation-for="Group" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Курс</label>
                <input asp-for="Course" class="form-control" />
                <span asp-validation-for="Course" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Достижения</label>
                <input asp-for="Achievements" class="form-control" />
                <span asp-validation-for="Achievements" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Instagram аккаунт</label>
                <input asp-for="InstagramAccount" class="form-control" />
                <span asp-validation-for="InstagramAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Facebook аккаунт</label>
                <input asp-for="FacebookAccount" class="form-control" />
                <span asp-validation-for="FacebookAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a href="/Students/AddImage/@ViewBag.UserId">Загрузить фото</a>
            </div>
        </form>
        
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
