@model IEnumerable<KushaFlow.Models.Student>

@{
    ViewData["Title"] = "Студенты";
}

<h1>Студенты</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Имя
            </th>
            <th>
                Фамилия
            </th>
            <th>
                Группа
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr onclick="letsTarget(@item.Id);">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Group)
            </td>
        </tr>
}
    </tbody>
</table>

<a href="" id="targetting"></a>

<script>

    function letsTarget(a) {
        document.querySelector('#targetting').href = "Students/Details/" + a;
        document.querySelector('#targetting').click();
    }
    
</script>