@model IEnumerable<KushaFlow.Models.StudentIsWork>

@{
    ViewData["Title"] = "Работы";
}

<h1>Работы студентов</h1>
<br />
<p>Публикация и скачивание <b>СРС, Отчётов, Курсовых проектов и других работ</b> 
    студентов из разных институтов:
</p>
<ul>
    <li>Институт Архитектуры и Дизайна</li>
    <li>Институт Новых Информационных Технологий</li>
    <li>Институт Транспорта и Экологии</li>
    <li>Институт Строительства и Технологии</li>
    <li>Институт Экономики и Менеджмента</li>
</ul>


<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Подробнее</a>
            </td>
        </tr>
        }
    </tbody>
</table>


