
@{
    ViewData["Title"] = "О нас";
}

<h1>О нас</h1>

<br />
<div>
    <p>
        <b>KushaFlow</b> это онлайн каталог студентов, который объеденяет студентов
        из разных интститутов через социальные сети.
    </p>
    <br />
    <p>
        Предложения и жалобы, можете отправить через email - <b>eseptehelp@gmail.com</b>
    </p>

</div>

<br />

<p>
    <b>KushaFlow</b> - производство Темирбек уулу Куштарбека.
</p>

