@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
</div>
<br />
<div>
    <p>
        <b>KushaFlow</b> это онлайн каталог работ студентов КГУСТА, 
        который помогает делиться своими знаниями с другими студентами.
    </p>
    <p>
        С помощью <b>KushaFlow</b> ты можешь:
    </p>
    <ul>
        <li>Скачать готовые СРС, Отчёты, Курсовые проекты и другие работы</li>
        <li>Познакомиться со студентами из разных групп</li>
        <li>Опубликовать свои работы!</li>
    </ul>


    <div class="text-center">
        <a asp-controller="Students" asp-action="Index" class="btn btn-primary">Посмотреть</a>
    </div>

    <br />
    <p>
        Если ты студент и тебя нет в списке, то ты можешь добавить себя:
    </p>


    <div class="text-center">
        <a asp-controller="Students" asp-action="Create">Добавить</a>
    </div>
</div>

